#addNote {
  position: absolute;
  top: 105px;
  left: 12px;
  border: none;
  color: white;
  background-color: #333333;
  border: none;
  outline: none;
}

#showNotes {
  position: absolute;
  bottom: 30px;
  right: 15px;
  border: none;
  color: white;
  background-color: #333333;
  border: none;
  outline: none;
}